
.bienvenu_txt {
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 40px;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-top: 2em;
}

h2,
h3 {
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 1.5em;
    font-size: 26px;
}

.txt_index {
    font-family: "Roboto";
    font-size: 1.1em;
    margin-left: 40px;
    text-align: left;
    margin-right: 30px;
}

#intro_img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    width: 40%;
    object-fit: cover;
}

#intro_tot {
    display: flex;
}

#engagements {
    display: flex;
    margin-left: 40px;
}

#liste {
    flex: 1;
    font-family: "Calibri";
    margin-left: 0px;
    text-align: justify;
    margin-right: 30px;
    padding-top: 20px;
    font-size: 18px;
}

#txt_intro {
    flex: 1;
}



@media (max-width: 800px) {
    #intro_tot {
        flex-direction: column;
    }

    #intro_img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


}


