

.messages_verif {
    font-family: "century gothic";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -40px;
}

.corps_formulaire {
    background-color: #f3f3f3;
    overflow: auto;
}

#quantite_fieldset {
    margin-bottom: 2em;
}

#quantite {
    width: 50px; /* Ajustez la taille pour les nombres */
    text-align: center;
    border: 1px solid lightgrey;
    padding: 5px;
}

#conteneur_fieldset {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    gap: 2em;
}

#partie_entreprise,
#partie_droite {
    flex: 1;
    min-width: 0;
}

#partie_droite {
    display: flex;
    flex-direction: column;
    gap: 1em; 
}

fieldset {
    width: 100%; 
    box-sizing: border-box; 
    font-family: 'Trebuchet MS';
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
}

#map {
    height: 30em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


#search_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 1.2em;
    margin-top: 1.5em;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search_button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

#search_button.disabled{
    background-color: #b7b7b7;
    pointer-events: none;
}

button:hover(:not(#burger-menu)) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}


#bouton_submit_reset{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}



input,
button,
textarea,
select,
ul,
p {
    font-family: 'Trebuchet MS';
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: none;
    padding: 3px;
    resize: none;
}

h2, h3{
    font-family: "century gothic";
    font-weight: bold;
    color: black;
    margin-left: 2em;
}

.titres {
    display: block;
    font-weight: bold;
    color: #4CAF50;
    font-family: "Trebuchet MS";
    margin-left: 10px;
    margin-top: 1.5em;
}


::placeholder {
    color: lightgrey;
}

.option_radio {
    font-family: 'Trebuchet MS';
    margin-left: 0px;
    font-weight: 50;
}

.lien {
    font-family: "Calibri";
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.italique {
    display: block;
    font-style: italic;
    color: black;
    font-size: 12px;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 3em;
    font-family: 'Trebuchet MS';
}


.messages_verif{
    margin-bottom: 1.5em;
}

#envoi_btn {
    cursor: pointer;
    padding: 10px 10px;
    font-family: "Trebuchet MS";
    font-size: 1em;
    background-color: #4CAF50;
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.218);
    margin-left: 0;
    margin-top: 2em;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

#envoi_btn:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#envoi_btn:active {
    background-color: #3e8e41;
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


#partie_questions{
    margin-top: 4em;
}


#questions_freq,
#faq {
    margin-left: 2em;
}

.reponse{
    font-family: 'Roboto';
}

.quest {
    font-weight: bold;  
    text-decoration: underline #45a049;
    text-underline-offset: 0.2em;
}

.bandeau {
    text-align: center;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Trebuchet MS";
}



@media (max-width: 800px) {
    #conteneur_fieldset{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    #questions_freq{
        width: 90%;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

}